*, *::after, *::before{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    max-width:100vw;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h3{
    color: rgb(56, 56, 56);
}
.cookie{
    font-family:'Cookie', cursive;
}
.flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.separador{
    display:inline-block;
    width:40px;
    padding:2px;
    margin:10px 0;
    background-color: rgb(55, 100, 134);
    text-align: center;
}



header{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-image: url(../img/img4.jpg);
    background-size: cover;
    background-position: top center;
    color: #fff;
    height: 100vh;
    padding:20px;
}
header nav.redes-sociales a{
    color: #fff;
    font-size: 2em;
    margin-right: 20px;
}
header div.encabezado p{
   justify-content: space-around;
   /* justify-content: space-between; */
   /* justify-content: space-evenly; */
}
header div.encabezado h1{
    font-size:120px;
}
header div.encabezado p:last-child{
    font-size:250%;
}


.barra{
    justify-content: space-between;
    padding:15px 20px;
    /* background-color: rgb(55, 100, 134); */
    /* background-color: rgb(41, 37, 31); */
    /* background-color: rgb(13, 13, 11); */
    /* background-color: rgb(53, 56, 65); */
    /* background-color: rgb(29, 31, 35); */
    background: linear-gradient(rgb(29, 31, 35),rgb(53, 56, 65));
    color: #fff;
}
.barra .menu-movil{
    width:35px;
    display: none;
}
.menu-movil span{
    display: block;
    background-color: gray;
    padding:2px;
    margin:5px 0;
}
.logo{
    font-weight: bold;
    font-size:30px;
}
nav.menu-principal ul li{
    margin:0 5px;
    padding:5px;
}
nav.menu-principal ul li a{
    color: #fff;
    font-size:20px;
    font-weight: bold;
}


main article.que-es{
    padding:40px 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.separador{
    display:inline-block;
    width:40px;
    padding:2px;
    margin:10px 0;
    background-color: rgb(55, 100, 134);
    text-align: center;
}
main article.que-es p{
    padding:0 40px;
}


main .categoria{
    background-image: url(../img/templatemo_image_07.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
    height: 100vh;
    opacity: 0.9;
    text-align: center;
    padding:40px 0;
}
.categoria>div.container{
    width:760px;
    margin: 0 auto;
    padding:30px 10px;
    /* background: linear-gradient(rgb(250, 250, 250),#fff); */
}
.categoria nav{
    justify-content: center;
}
.categoria nav a{
    padding:15px 50px;
    color: rgb(55, 100, 134);
    font-weight: bold;
    border-bottom:2px solid black
}
.categoria .container div{
    margin: 0 auto;
    padding:10px 20px;
    text-align: start;
}
.categoria .container div h3{
    margin-bottom:10px;
}
.categoria .container div ul{
    margin-left: 30px;
}
.categoria .container div ul li{
    margin:30px 0;
}


main article.choco{
    justify-content: center;
    flex-direction: column;
   text-align: center;
   padding:50px;
}
article.choco h2{
    font-size: 120px;
    filter: opacity(0.5);
}
article.choco p,article.choco a{
    font-size: 250%;
}
article.choco a{
    padding:10px;
    color: rgb(55, 100, 134);
    border: 2px dashed blue;
    margin-bottom: 10px;
}


main article.beneficios{
    background-color: rgb(213, 216, 224);
    padding:25px 0;
}
.beneficios nav{
    display: flex;
    justify-content: space-around;
    padding:15px;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.beneficios>div{
    display: flex;
    justify-content: space-around;
}
.beneficios>div img{
    filter: opacity(0.7);
}
.beneficios>div ul:first-child li{
    margin:20px 0;
}


main article.lugares{
    background-color:rgb(233, 236, 241);
    padding:30px;
    text-align: center;
}
.lugares .container-img{
    padding:20px 0;
}
.lugares .container-img div{
    margin:0 20px;
    position: relative;
}
.lugares .container-img img{
    width: 100%;
    margin: 0;
    filter:opacity(0.8) grayscale(1);
    transition: all .7s ease-in-out;
}
.container-img img:hover{
   filter: opacity(1);
   transform: scale(1.2);
}
.container-img img:hover .container-img p{
    bottom: -1;
    opacity: 0;
}
.lugares .container-img p{
    position: absolute;
    width: 100%;
    padding:20px 5px;
    color: #fff;
    font-weight: bold;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}